.env
/l2proxy/
/oxen00/
/oxen01/
/stagenet00/
/stagenet01/
/docker-compose.override.yml
/.l2-setup-*/
/.l2-setup.lock
__pycache__/
/.onboarding-venv/
/.node-onboarding.*/
/.onboarding-backups/
/data/
